<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <%= render 'progress_bar' %>
    <h1 class="<%= result_color(@passing_test) %>">
      <%= t('.header', title: @passing_test.test.title) %>
      <%= show_result_message(@passing_test)%></h1><br>
    <h2><%= link_to t('.back'), tests_path %></h2>
  </div>
</div>
