<h1><%= t('.header', test_title: @passing_test.test.title) %></h1>
<h3><%= t('.questions', current_question: @passing_test.current_question_number, questions_count: @passing_test.test.questions.count) %></h3>
<%= form_with url: passing_test_path(@passing_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passing_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit t('.next') %></p>
<% end %>
