<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <%= image_tag(@badge.image, :alt => "image") %>
</p>

<p>
  <strong>User:</strong>
  <%= @badge.users %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @badge.rule %>
</p>


<%= link_to 'Edit', edit_admin_badge_path(@badge) %> |
<%= link_to 'Back', admin_badges_path %>
